---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Masonry from "@/components/Masonry.astro";
import MasonrySvelte from "@/components/Masonry.svelte";
---

<BaseLayout title="Masonry">
  <div class="container">
    <!-- <Masonry /> -->
    <MasonrySvelte client:only/>
  </div>
</BaseLayout>
