---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Masonry from "@/components/Masonry.astro";
import MasonrySvelte from "@/components/Masonry.svelte";
import MasonryInfinite from "@/components/MasonryInfinite/Masonry.svelte";
---

<BaseLayout title="Masonry">
  <div class="container">
    <nav>
      <a href="/">Static aligned (fake cols)</a>
      <a href="/infinite">Infinite Scroll (grid)</a>
    </nav>

    <MasonryInfinite client:only/>
  </div>
</BaseLayout>

<style>
  nav {
    display: flex;
    gap: 1rem;
    margin: 1rem;

    a {
      color: #fff;
    }
  }
</style>
